p {
	font-size: 400px;
	background-color: #DCDCDC60
}

h4 {
	font-size: 200px;
}



#images {
	align:padding;
	width:35%;
    height:35%;
	border-radius: 25px;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 5px 25px 0 rgba(0,0,0,0.19);

}

