#Github_button {
        font-size: 32px;
        color: black;
        animation: dulli 3s infinite alternate;
        animation-timing-function: linear;
        filter: drop-shadow(0 0 10px white);
}

@keyframes dulli {
                100%,0%{background-color: #353535; filter: drop-shadow(0 0 0px grey);}
                25%{background-color: #999999; filter: drop-shadow(0 0 10px white);}
                75%{background-color: #999999; filter: drop-shadow(0 0 10px white);}
}

#mainpage {
        height: 300px;
        margin: 0 auto;
}
