#text {
      color: white;
      text-shadow: 2px 2px 5px black;
      font-size: 25px;
}


p {
        color: black;
}

table, th, td {
      border:3px solid black;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.05), 0 5px 25px 0 rgba(0,0,0,0.1);
      text-shadow: 2px 2px 5px black;
      width: 40%;
      

}

#table-header {
      color:white;
      font-weight: bold;
      font-size: 25px;

}

#table-data {
      color:lightgrey;
      font-size: 20px;
      
}



